<mat-card appearance="outlined">
  <div class="container">
    <div class="row">
      <div class="text-center">
        {{ category | json }}
        <form (ngSubmit)="addCategorydata()" class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Add title</mat-label>
            <input [(ngModel)]="category.title" name="title" matInput />
          </mat-form-field>

          <div class="row">
            <div class="text-center">
              <mat-form-field class="example-full-width">
                <mat-label>ADD description</mat-label>
                <textarea
                  [(ngModel)]="category.description"
                  name="description"
                  matInput
                ></textarea>
              </mat-form-field>
              <input (change)="onchangefile($event)" name="files" type="file" />
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="text-center">
                <button type="submit" mat-raised-button>Add categories</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card>
