<div class="min-h-screen flex items-center justify-center bg-blue-950">
  <div class="mx-auto bg-blue-200 shadow-lg rounded-lg overflow-hidden">
    <div class="p-6">
      <h2 class="text-3xl font-bold text-zinc-900 text-center pb-2">
        Read the Instruction of this page carfully
      </h2>
      <h2 class="text-2xl font-semibold text-zinc-900">Python Developement</h2>
      <p class="p-1">Lorem ipsum dolor sit amet consectetur, adipisicing</p>
      <hr class="my-4 border-t-2 border-blue-300" />
      <h2 class="text-2xl font-semibold text-zinc-900">
        Important Instruction
      </h2>
      <ol class="mt-4 text-zinc-700 space-y-2">
        <li>
          1. This is a timed test. Please make sure you are not interrupted
          during the test, as the timer cannot be paused once started.
        </li>
        <li>2. Please ensure you have a stable internet connection.</li>
        <li>
          3. We recommend you to try the
          <a href="#" class="text-blue-600 underline">sample test</a> for a
          couple of minutes, before taking the main test.
        </li>
      </ol>
      <hr class="my-4 border-t-2 border-blue-300" />
      <h2 class="text-2xl font-semibold text-zinc-900">
        Important Instruction
      </h2>
      <ol class="mt-4 text-zinc-700 space-y-2">
        <li>
          1. This is a timed test. Please make sure you are not interrupted
          during the test, as the timer cannot be paused once started.
        </li>
        <li>2. Please ensure you have a stable internet connection.</li>
        <li>
          3. We recommend you to try the
          <a href="#" class="text-blue-600 underline">sample test</a> for a
          couple of minutes, before taking the main test.
        </li>
      </ol>
      <div class="mt-6 flex justify-center">
        <a
          [routerLink]="'/start/' + id"
          class="border border-green-600 hover:bg-blue-100 text-green-600 font-bold py-2 px-4 rounded"
          >Start Test</a
        >
      </div>
    </div>
  </div>
</div>
